apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
        eti: vffffgffvdsssa
    spec:
      containers:
        - image: gcr.io/heptio-images/ks-guestbook-demo:0.1
          name: guestbook-ui-test
          ports:
            - containerPort: 80
          # readinessProbe:
          #   httpGet:
          #     path: /nonExist # test degraded
          #     port: 80
